pipeline/CopyNCS_Staging-To-DB.json
{
	"name": "CopyNCS_Staging-To-DB",
	"properties": {
		"description": "Copy file data from Staging to DB",
		"activities": [
			{
				"name": "GetFileList",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "NCSStorageSourceDataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"description": "Iterate each file, and move them one by one.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterFiles').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "Location master",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('GetFileList').output.value",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "NCS Sales",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "SpFileEntry",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"additionalColumns": [
													{
														"name": "Filename",
														"value": {
															"value": "@item().name",
															"type": "Expression"
														}
													},
													{
														"name": "LastModifiedDatetime",
														"value": {
															"value": "@activity('GetFileList').output.lastModified",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@activity('GetFileList').output.value",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "AzureSqlSink"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "document_no",
															"type": "String"
														},
														"sink": {
															"name": "SRCE_SYS_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "apply_to_doc",
															"type": "String"
														},
														"sink": {
															"name": "FACT_TYPE_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "document_date",
															"type": "String"
														},
														"sink": {
															"name": "SBMSN_TYPE_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "transaction_type",
															"type": "String"
														},
														"sink": {
															"name": "DUE_PERD",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "subbrandform_name",
															"type": "String"
														},
														"sink": {
															"name": "TIME_PERD_TYPE_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "prod_name",
															"type": "String"
														},
														"sink": {
															"name": "TIME_PERD_START_DATE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_name",
															"type": "String"
														},
														"sink": {
															"name": "CUST_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_code",
															"type": "String"
														},
														"sink": {
															"name": "PROD_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "channel_description",
															"type": "String"
														},
														"sink": {
															"name": "GEO_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "dse",
															"type": "String"
														},
														"sink": {
															"name": "ORG_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "pcode",
															"type": "String"
														},
														"sink": {
															"name": "LEGAL_ENT_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "customer_type",
															"type": "String"
														},
														"sink": {
															"name": "PROFT_CTR_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "hsn_code",
															"type": "String"
														},
														"sink": {
															"name": "SCNDR_SHIP_FLAG",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "category",
															"type": "String"
														},
														"sink": {
															"name": "TRADE_CHANL_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brand",
															"type": "String"
														},
														"sink": {
															"name": "ISO_CRNCY_CODE_CHAR",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "brandform",
															"type": "String"
														},
														"sink": {
															"name": "MM_HYBRID_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "quantity",
															"type": "String"
														},
														"sink": {
															"name": "FUNC_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "gross_value",
															"type": "String"
														},
														"sink": {
															"name": "CAPTL_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "discount",
															"type": "String"
														},
														"sink": {
															"name": "MEASR_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "taxable_scheme",
															"type": "String"
														},
														"sink": {
															"name": "DEMND_PLAN_CUST_GRP_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cgsttax",
															"type": "String"
														},
														"sink": {
															"name": "GENRC_DMNSN_1_TYPE_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "sgsttax",
															"type": "String"
														},
														"sink": {
															"name": "GENRC_DMNSN_1_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "igsttax",
															"type": "String"
														},
														"sink": {
															"name": "GENRC_DMNSN_2_TYPE_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "cesstax",
															"type": "String"
														},
														"sink": {
															"name": "GENRC_DMNSN_2_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_code",
															"type": "String"
														},
														"sink": {
															"name": "GENRC_DMNSN_3_TYPE_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "mracc_desc",
															"type": "String"
														},
														"sink": {
															"name": "GENRC_DMNSN_3_ID",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "vendor",
															"type": "String"
														},
														"sink": {
															"name": "FACT_QLTY_CODE",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "net_amount",
															"type": "String"
														},
														"sink": {
															"name": "ATTR_VAL_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_discount",
															"type": "String"
														},
														"sink": {
															"name": "FACT_AMT_1",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_on_scheme",
															"type": "String"
														},
														"sink": {
															"name": "ATTR_VAL_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "tax_in_rlp",
															"type": "String"
														},
														"sink": {
															"name": "FACT_AMT_2",
															"type": "String"
														}
													},
													{
														"source": {
															"name": "retailing",
															"type": "String"
														},
														"sink": {
															"name": "FACT_AMT_3",
															"type": "String"
														}
													}
												]
											}
										},
										"inputs": [
											{
												"referenceName": "NCSCSV_2_Staging_WithHeader",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "NCS_Sales_Temp",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "SpFileEntry",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "SpFileEntry",
											"storedProcedureParameters": {
												"Filename": {
													"value": {
														"value": "@item().name",
														"type": "Expression"
													},
													"type": "String"
												},
												"FileType": {
													"value": "1",
													"type": "Byte"
												},
												"LastModifiedDatetime": {
													"value": {
														"value": "@activity('GetFileList').output.lastModified",
														"type": "Expression"
													},
													"type": "DateTime"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "PnGDataFoundation",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "FilterFiles",
				"description": "Only files will be selected, the source-folders will not be selected.",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileList').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Leap Data Pipeline"
		},
		"annotations": []
	}
}